.RegistrationForm {
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 1fr;
  &__inputs {
    display: grid;
    gap: 1rem;
    grid-auto-rows: max-content;
  }
  &__inputs-names {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  &__inputs-submit {
    cursor: pointer;
    justify-self: center;
    align-self: center;
    padding: 0.75rem 2rem;
    margin-top: 1rem;
    background: #fce404;
    font-family: "Cabin";
    outline: none;
    border: 3px solid transparent;
    border-radius: 2rem;
    &:focus {
      //   box-shadow: 0 0 0 2px red;
      border: 3px solid #ff8d00;
    }
  }
  &__medical-logo {
    justify-self: center;
  }
}
