.TextInput {
  display: flex;
  //   border: 2px solid #e6e6e6;
  //   border-radius: 0.25rem;
  &:focus {
    outline: none;
    border: 2px solid #ff8d00;
  }
  &__input {
    border: 2px solid #e6e6e6;
    border-radius: 0.25rem;
    // border: none;
    width: 100%;
    padding: 0.375rem;
    font-family: inherit;
    &:focus {
      outline: none;
      border: 2px solid #ff8d00;
    }
  }
}
