.TextInput {
  display: flex;
  border: 2px solid #e6e6e6;
  border-radius: 0.25rem;
  &__input {
    border: none;
    width: 100%;
    padding: 0.375rem;
    font-family: inherit;
    &:focus {
      outline: none;
    }
  }
}
