.TextInput {
  display: flex;
  align-items: center;
  border: 2px solid #e3e3e3;
  border-radius: 0.25rem;
  &:focus-within {
    border: 2px solid #ff8d00;
  }
  &__input {
    border: none;
    width: 100%;
    padding: 0.375rem;
    font-family: inherit;
    outline: none;
  }
}
