.Button {
  cursor: pointer;
  justify-self: center;
  align-self: center;
  padding: 0.75rem 2rem;
  margin-top: 1rem;
  background: #fce404;
  font-family: "Cabin";
  font-size: 1rem;
  outline: none;
  border: 3px solid transparent;
  border-radius: 2rem;
  &:focus {
    //   box-shadow: 0 0 0 2px red;
    border: 3px solid #ff8d00;
  }
}
