@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
.App {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #ff8d00 0%, #fce404 100%);
}
